<div class="card cert-card">
  <div class="card-body">
    <h3 class="h6 font-heading">
      {% if cert.link %}
        <a href="{{ cert.link | url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-emphasis stretched-link">
          {{ cert.name }}
        </a>
      {% else %}
        {{ cert.name }}
      {% endif %}
    </h3>
    <h6 class="card-subtitle text-body-secondary fw-medium letter-spacing-1">
      {{ cert.issuer }}
    </h6>
    <div class="text-body-tertiary fw-bold small">{{cert.year}}</div>
  </div>
</div>
