<div class="timeline-item {% if job.logo %}has-logo{% endif %}">
{% if job.logo %}
  {{ job.logo | imageHtml(job.company, "timeline-logo timeline-logo-absolute logo-light") | safe }}
  {% set darkLogo = job.logo | replace(".png", "_dark.png") %}
  {{ darkLogo | imageHtml(job.company, "timeline-logo timeline-logo-absolute logo-dark") | safe }}
  {% endif %}
  <div class="text-start">
    <div class="card-body">
      <div class="-gap-2">
        <div>
          <h3 class="h4 font-heading">{{ job.role }}</h3>
          <h6 class="card-subtitle text-body-secondary fw-medium letter-spacing-wide">
            {% if job.link %}
            <a href="{{ job.link | url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary d-inline-flex">
              {{ job.company }} <i class="fa-solid fa-arrow-up-right-from-square opacity-50 text-xs ms-2"></i>
            </a>
            {% else %}
            {{ job.company }}
            {% endif %}
          </h6>
        </div>
        <div class="text-sm-end text-body-secondary fw-medium text-nowrap">{{job.duration}}</div>
      </div>
      <p class="card-text">{{ job.description }}</p>
      {{ darkLogo | imageHtml(job.company, "timeline-logo timeline-logo-absolute logo-dark") | safe }}
    </div>
  </div>
</div>
