<div class="timeline-item {% if job.logo %}has-logo{% endif %}">
  {% if job.logo %}
    <img src="{{ job.logo | url }}" alt="{{ job.company }}" class="timeline-logo timeline-logo-absolute">
  {% endif %}
  <div class="card shadow-sm border-0 bg-white text-start">
    <div class="card-body py-2 px-3">
      <div class="d-flex justify-content-between align-items-start mt-2">
        <div>
          <h3 class="card-title h4 font-heading mb-1">{{ job.role }}</h3>
          <h6 class="card-subtitle mt-1 mb-3 text-body-secondary text-uppercase fw-medium letter-spacing-wide">
            {% if job.link %}
              <a href="{{ job.link | url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary d-inline-flex align-items-center">
                {{ job.company }} <i class="fa-solid fa-arrow-up-right-from-square opacity-50 text-xs ms-2"></i>
              </a>
            {% else %}
              {{ job.company }}
            {% endif %}
          </h6>
        </div>
        <div class="text-end text-body-secondary fw-medium text-nowrap ms-3 mt-1">{{job.duration}}</div>
      </div>
      <p class="card-text text-muted">{{ job.description }}</p>
    </div>
  </div>
</div>
