<div class="product {% if product.pinned %}product--pinned{% endif %}">
  {% if product.image %}
    <div class="project-image-wrapper overflow-hidden">
      {{ product.image | imageHtml(product.title, "project-image w-100 object-fit-cover rounded-4") | safe }}
    </div>
  {% endif %}
  <div class="product-content">
    <h3 class="fw-bold lh-sm text-dark">
      {% if product.link %}
        <a href="{{ product.link | url }}" class="stretched-link text-decoration-none text-body text-dark" target="_blank" rel="noopener noreferrer">{{ product.name }}</a>
      {% else %}
        {{ product.name }}
      {% endif %}
    </h3>
    {% if product.roles %}
      <div class="product-role">
        {% for role in product.roles %}
          <span>{{ role }} </span>
        {% endfor %}
      </div>
    {% endif %}
    {% if product.link %}
        <a href="{{ product.link-title | url }}" target="_blank" rel="noopener noreferrer">{{ product.link | url }}</a>
    {% endif %}
    <p class="product-description">{{ product.description }}</p>
    {% if product.stack %}
      <div class="product-stack">
        {% for tool in product.stack %}
          <span class="badge bg-secondary-subtle text-secondary me-1">{{ tool }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <div >
    </div>
  </div>
</div>
