<div class="{% if product.link %}project-card{% endif %} position-relative card">
  {% if product.image %}
    <div class="project-image-wrapper overflow-hidden">
      {{ product.image | imageHtml(product.title, "project-image w-100 object-fit-cover rounded-4") | safe }}
    </div>
  {% endif %}
  <div class="project-content {% if product.image %}{% else %}{% endif %} -3 pe-md-3 text-start">
    <h3 class="fw-bold lh-sm text-dark">
      {% if product.link %}
        <a href="{{ product.link | url }}" class="stretched-link text-decoration-none text-body text-dark" target="_blank" rel="noopener noreferrer">{{ product.name }}</a>
      {% else %}
        {{ product.name }}
      {% endif %}
    </h3>
    {% if product.roles %}
      <div >
        Role: 
        {% for role in product.roles %}
          <span class="badge me-1">{{ role }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <p class="text-secondary">{{ product.description }}</p>
    {% if product.stack %}
      <div >
        {% for tool in product.stack %}
          <span class="badge bg-secondary-subtle text-secondary me-1">{{ tool }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <div >
      {% if product.link %}
      <div class="icon-arrow-circle">
        <i class="fa-solid fa-arrow-right icon-arrow-rotated"></i>
      </div>
      {% endif %}
    </div>
  </div>
</div>
