<div class="project-card position-relative row g-4 mb-5">
  {% if item.data.image %}
    <div class="project-image-wrapper overflow-hidden col-12 col-md-8">
      <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}" class="project-image w-100 object-fit-cover rounded-4">
    </div>
  {% endif %}
  <div class="project-content col-12 col-md-4 py-md-3 pe-md-3 text-start">
    <h3 class="project-title fs-2 fw-bold lh-sm mb-3"><a href="{{ item.url | url }}" class="stretched-link text-decoration-none text-body">{{ item.data.title }}</a></h3>
    <p class="text-secondary fs-6">{{ item.data.description }}</p>
    {% if item.data.featured_stack %}
      <div class="mt-2 mb-4">
        {% for tool in item.data.featured_stack %}
          <span class="badge bg-secondary-subtle text-secondary me-1">{{ tool }}</span>
        {% endfor %}
        {% if item.data.other_stack %}
          {% set count = item.data.other_stack | length %}
          <span class="badge bg-secondary-subtle text-secondary me-1">+{{ count }}</span>
        {% endif %}
      </div>
    {% endif %}
    <div class="mt-auto d-flex justify-content-end w-100 pt-3">
      <div class="icon-arrow-circle">
        <i class="fa-solid fa-arrow-right icon-arrow-rotated"></i>
      </div>
    </div>
  </div>
</div>
