<div class="card pub-card text-start h-100 p-4 p-md-5">
  <h3 class="card-title h5 font-heading mb-2">
    {% if pub.link %}
      <a href="{{ pub.link | url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary stretched-link">
        {{ pub.title }}
      </a>
    {% else %}
      {{ pub.title }}
    {% endif %}
  </h3>
  <div class="d-flex flex-start justify-content-between gap-3 align-items-start mb-3">
    <div>
      <h6 class="card-subtitle mt-0 mb-0 text-body-secondary text-uppercase fw-medium letter-spacing-wide fs-6">
        {{ pub.journal }} - {{ pub.year }}
      </h6>
    </div>
  </div>
  {% if pub.abstract %}
    <p class="mb-0 text-muted fs-6">
      {{ pub.abstract | truncate(200) }}
    </p>
  {% endif %}
</div>