<div class="card pub-card text-start -5">
  <h3 class="h5 font-heading">
    {% if pub.link %}
      <a href="{{ pub.link | url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary stretched-link">
        {{ pub.title }}
      </a>
    {% else %}
      {{ pub.title }}
    {% endif %}
  </h3>
  <div class="gap-3">
    <div>
      <h6 class="card-subtitle text-body-secondary fw-medium letter-spacing-wide">
        {{ pub.journal }} - {{ pub.year }}
      </h6>
    </div>
  </div>
  {% if pub.abstract %}
    <p >
      {{ pub.abstract | truncate(200) }}
    </p>
  {% endif %}
</div>