<div class="timeline-item {% if qual.logo %}has-logo{% endif %}">
  {% if qual.logo %}
    {{ qual.logo | imageHtml(qual.company, "timeline-logo timeline-logo-absolute logo-light") | safe }}
    {% set darkLogo = job.logo | replace(".png", "_dark.png") %}
    {{ darkLogo | imageHtml(qual.company, "timeline-logo timeline-logo-absolute logo-dark") | safe }}
  {% endif %}
  <div class="text-start">
    <div class="card-body">
      <div class="gap-2">
        <div>
          <h3 class="h4 font-heading">
            {% if qual.link %}
              <a href="{{ qual.link | url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary d-inline-flex">
                {{ qual.degree }} <i class="fa-solid fa-arrow-up-right-from-square opacity-50 text-xs ms-2"></i>
              </a>
            {% else %}
              {{ qual.degree }}
            {% endif %}
          </h3>
          <h6 class="card-subtitle text-body-secondary fw-medium letter-spacing-wide">
            {{ qual.institution }}
          </h6>
        </div>
        <div class="text-sm-end text-body-secondary fw-medium text-nowrap">{{qual.year}}</div>
      </div>
      <dl >
        {% if qual.award %}
          <dt class="fw-medium">Awarded</dt>
          <dd >{{ qual.award }}</dd>
        {% endif %}
        {% if qual.thesis %}
          <dt class="fw-medium">Thesis</dt>
          <dd >{{ qual.thesis }}</dd>
        {% endif %}
      </dl>
      {% if qual.theses %}
        <div >
        {% for thesis in qual.theses %}
           <p >{{ thesis }}</p>
        {% endfor %}
        </div>
      {% endif %}
      {% if qual.description %}
        <p class="card-text">{{ qual.description }}</p>
      {% endif %}
    </div>
  </div>
</div>
