---
layout: base.njk
title: About this site
---

<section class="spa-section py-5">
  <div class="row pt-4">
    <div class="col-12">
      <h1 class="display-4 fw-bold hero-title mb-5 font-heading">About this Site</h1>
      
      <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
          <h2 class="font-heading">Tech Stack</h2>
          <p class="lead text-secondary mb-4">How I built this site. I used:</p>
          <ul>
            <li><a href="https://www.11ty.dev/">Eleventy (11ty)</a> (static site builder)</li>
            <li><a href="https://nunjucks.io/">Nunjucks</a> (templating)</li>
            <li><a href="https://www.markdownguide.org/">Markdown</a> (content)</li>
            <li><a href="https://getbootstrap.com/">Bootstrap 5.3</a> (styling)</li>
            <li><a href="https://alpinejs.dev/">Alpine.js</a> (JavaScript)</li>
            <li><a href="https://splidejs.com/">Splide.js</a> (carousels)</li>
            <li><a href="https://fontawesome.com/">Font Awesome</a> (icons)</li>
            <li><a href="https://github.com/">GitHub</a> (code hosting)</li>
            <li><a href="https://pages.github.com/">GitHub Pages</a> (deployment)</li>
            <li><a href="https://figma.com/">Figma</a> (graphic design)</li>
            <li><a href="https://figma.com/">Figma Motion</a> (animation)</li>
            <li><a href="https://www.rdkit.org/">RDKit</a> (3D molecule rendering)</li>
          </ul>
        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn btn-primary mt-3"><i class="fa-solid fa-arrow-left me-2"></i>Back to Home</a>
    </div>
  </div>
</section>
