---
layout: base.njk
title: About this site
---

<section class="spa-section py-5">
  <div class="row pt-4">
    <div class="col-12">
      <h1 class="display-4 fw-bold hero-title mb-5 font-heading">Colophon</h1>
      
      <div class="card m-4 p-4">
        <div class="card-body m-4 p-4">
          <h2 class="font-heading">Stack</h2>
          <h3 class="font-heading mt-4">Back End</h3>
          Built using 11ty static site generator with nunjucks templating, because I want something low-maintenance.
          Articles can written in markdown with the option to include custom HTML, so the best of both worlds.
          Hosted on Github and deployed using Github Pages, but planning to move to Gitlab.
          
          <h3 class="font-heading my-4">Front End</h3>
          All screenshots are of software I have worked on.
          All other images are my own creations, mostly drawn in Figma.
          All animations are either screen recordings of my software or generated in Figma Motion based on my prototypes.
          The intearctive molecule was rendered in rdkit.
          I'm using alpine.js for filtering, because it's just nice to have your interactions defined inline.
          The smooth-scrolling gallery is provided by splide.js because writing a good, smooth, interactive gallery in vanilla JS is beyond by JS ability.
          Icons provided by the awesome Font Awesome.
          The subtle animation on the steam coming off the mug was acheived using an SVG fractalNoise filter; I want to learn more about these, because they are crazy powerful.
          
          <ul class="my-3">
            <li><a href="https://www.11ty.dev/">Eleventy (11ty)</a> (static site builder)</li>
            <li><a href="https://nunjucks.io/">Nunjucks</a> (templating)</li>
            <li><a href="https://www.markdownguide.org/">Markdown</a> (content)</li>
            <li><a href="https://alpinejs.dev/">Alpine.js</a> (JavaScript)</li>
            <li><a href="https://splidejs.com/">Splide.js</a> (carousels)</li>
            <li><a href="https://fontawesome.com/">Font Awesome</a> (icons)</li>
            <li><a href="https://github.com/">GitHub</a> (code hosting)</li>
            <li><a href="https://pages.github.com/">GitHub Pages</a> (deployment)</li>
            <li><a href="https://figma.com/">Figma</a> (graphic design)</li>
            <li><a href="https://figma.com/">Figma Motion</a> (animation)</li>
            <li><a href="https://www.rdkit.org/">RDKit</a> (3D molecule rendering)</li>
          </ul>

          <h2 class="font-heading">Inspiration</h2>
          Credit where credit's due. I believe in sharing your sources. The design for this site was inspired by several great creators who you should check out
          <ul>
            <li>The stick figure design is of course based on Randall Munroe's ever-genius <a href="https://www.xkcd.com/">XKCD</a> and the associated font is literally Randall's own handwriting.</li>
            {# <li>Rob Cantor: Rob's site used to load with a seemingly static photo of him staring into your soul, except after a few seconds you realilse it was a video as he starts to eat a random fruit, every time it loads the site serves up a different random video of him eating something different.</li> #}
            <li>The cream and charcoal styling and Bricolage Grotesque font was basically stolen from <a href="https://zen-browser.app/" target="_blank">Zen browser</a> (which incidentally is my favourite browser)</li>
            <li>My good friend and incredible UX designer, Dev Patel, has <a href="https://healthy-office-579727.framer.app/" target="_blank">a wonderful portfolio</a>, I stole the design of several of his components</li>
          </ul>
        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn btn-arrow-left mt-3">Back to Home</a>
    </div>
  </div>
</section>
