---
layout: base.njk
title: About this site
---

<section class="spa-section py-5">
  <div class="row pt-4">
    <div class="col-12">
      <h1 class="display-4 fw-bold hero-title mb-5 font-heading">Colophon</h1>
      
      <div class="card mb-4">
        <div class="card-body">
          No cookies, no data collected. Self-hosted font. No framework just simple custom CSS.
          <h2 class="font-heading">Stack</h2>
          <ul>
            <li><a href="https://www.11ty.dev/">Eleventy (11ty)</a> (static site builder)</li>
            <li><a href="https://nunjucks.io/">Nunjucks</a> (templating)</li>
            <li><a href="https://www.markdownguide.org/">Markdown</a> (content)</li>
            <li><a href="https://alpinejs.dev/">Alpine.js</a> (JavaScript)</li>
            <li><a href="https://splidejs.com/">Splide.js</a> (carousels)</li>
            <li><a href="https://fontawesome.com/">Font Awesome</a> (icons)</li>
            <li><a href="https://github.com/">GitHub</a> (code hosting)</li>
            <li><a href="https://pages.github.com/">GitHub Pages</a> (deployment)</li>
            <li><a href="https://figma.com/">Figma</a> (graphic design)</li>
            <li><a href="https://figma.com/">Figma Motion</a> (animation)</li>
            <li><a href="https://www.rdkit.org/">RDKit</a> (3D molecule rendering)</li>
          </ul>
        </div>
      </div>
      
      
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="font-heading">Inspiration</h2>
          Cred where credit's due. I believe in sharing your sources. The design for this site was inspired by many great creators who you should check out
          <ul>
            <li>The stick figure design is based on Randall Munroe's ever-genius<a href="https://www.xkcd.com/">XKCD</a> and the associated font is literally Randall's own handwriting.</li>
            <li>Rob Cantor: Rob's site used to load with a seemingly static photo of him staring into your soul, except after a few seconds you realilse it was a video as he starts to eat a random fruit, every time it loads the site serves up a different random video of him eating something different.</li>
            <li>Zen Browser: The cream and charcoal styling and Bricolage Grotesque font was basically stolen from Zen's marketing</li>
            <li>My good friend and incredible UX designer, Dev Patel, has a wonderful portfolio, I stole the design of several of his components</li>
          </ul>
        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn mt-3"><i class="fa-solid fa-arrow-left me-2"></i>Back to Home</a>
    </div>
  </div>
</section>
