---
layout: base.njk
title: Home
---

<section id="home" class="page-section hero-section">
  <div>
    <h1 class="fw-bold font-xkcd fade-in delay-1">
      Hi, I<kerning>'</kerning>m Andrew,<br/>
      I make scientific software
    </h1>
    <div class="lead fade-in delay-3" style="max-width: 600px; margin: 0 auto; margin-block-start: var(--spacing-2);">
      Full-stack developer and product owner<br>
      specialising in scientific software & data products.<br>
      Based in <address>Cambridge, UK</address>.
    </div>
    {% include "images/hero.svg" %}
  </div>

  {# <div class="button-group-center fade-in delay-4">
    <a class="btn btn-lg" data-shortcut="w" href="{{ '/work/' | url }}">My work</a>
    <a class="btn btn-lg btn-outline" data-shortcut="c" href="{{ '/me/' | url }}">About me</a>
  </div> #}
</section>
