---
layout: base.njk
title: CV
---


<section class="page-section hero-section">
  <h1 class="hero-title">Andrew McLoughlin</h1>
</section>

<section class="page-section fade-in delay-1">
  <h2 class="section-title">Profile</h2>
  <div class="timeline card">
    I have an academic background in Biomedical Science, Computational Systems Biology and Epidemiology and 5+ years' experience building production scientific software. I am passionate about building tools that have a real-world scientific impact.
  </div>
</section>

<section id="employment" class="page-section fade-in delay-2">
  <h2 class="section-title">Employment History</h2>
  <div class="timeline card">
    {% asyncEach job in cv.employmentHistory %}
    {% include "components/employment-item.njk" %}
    {% endeach %}
  </div>
</section>

<section id="qualifications" class="page-section fade-in delay-3">
  <h2 class="section-title">Qualifications</h2>
  <div class="timeline card">
    {% asyncEach qual in cv.qualifications %}
      {% include "components/qual-item.njk" %}
    {% endeach %}
  </div>
  <h2 id="certificates" class="section-title">Certificates</h2>
  <div class="grid-list-certs">
    {% for cert in cv.certificates %}
      <div class="grid-item">
        {% include "components/cert-item.njk" %}
      </div>
    {% endfor %}
  </div>
</section>

<section id="publications" class="page-section fade-in delay-5" x-data="{ expandedPubs: false }">
  <h2 class="section-title">Publications, Posters & Papers</h2>
  <p class="section-description">These are some of the publications, posters, white papers and editorials that I have written or contributed to.</p>
  <div class="grid-list">
    {% for pub in cv.publications %}
      <div class="grid-item" {% if loop.index > 4 %} x-show="expandedPubs" x-transition x-cloak {% endif %}>
        {% include "components/pub-card.njk" %}
      </div>
    {% endfor %}
  </div>
  <div class="button-group-end">
    <button
      type="button"
      class="btn btn-outline btn-full"
      @click="expandedPubs = !expandedPubs"
      :aria-expanded="expandedPubs"
      aria-controls="publications-list"
    >
      <span x-show="!expandedPubs">More Publications</span>
      <span x-show="expandedPubs" x-cloak>Fewer Publications</span>
  </button>
  </div>
</section>
