---
layout: base.njk
title: About this site
---

<section class="spa-section py-5">
  <div class="row pt-4">
    <div class="col-12">
      
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="font-heading">Privacy</h2>
          No cookies, no data collected. Self-hosted fonts.

        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn mt-3">>Back to Home</a>
    </div>
  </div>
</section>
