---
layout: base.njk
title: About this site
---

<section class="page-section py-5">
  <div class="row pt-4">
    <div class="col-12">
      
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="font-heading">Privacy Policy</h2>
          <p class="pb-2">This Privacy Policy describes how Andrew McLoughlin (the "Site", "I", "me", "mine") collects, uses, and discloses your personal information when you visit. For purposes of this Privacy Policy, "you" and "your" means you as the user of this site.
          <p class="pt-2">Please read this Privacy Policy carefully.

          <h3>What Data I Collect</h3>
          <code>None.</code>
          
          <h3>How I Use Your Data</h3>
          <code>I don't.</code>
          
          <h3>What about cookies?</h3>
          <code>Only the chocolate-chip kind.</code>

          <h3>Surely Analytics?</h3>
          <code>No.</code>

          <h3>Third-Party Fonts, libraries?</h3>
          <code>Nope, all self-hosted.</code>

        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn mt-3">Back to Home</a>
    </div>
  </div>
</section>
