---
layout: base.njk
title: About this site
---

<section class="page-section py-5">
  <div class="row pt-4">
    <div class="col-12">
      
      <div class="d-flex justify-content-center pt-4">
      {% include "images/terms.svg" %}
      </div>
      <div class="card mb-4">
        <div class="card-body mb-3">
          <h2 class="font-heading">Terms & Conditions</h2>
          <details>
          <summary class="pb-2">
            By using this website you agree to be kind to all* fellow humans and other animals.
          </summary>
            <small class="text-muted pb-3">* Yes, even Piers Morgan.</small>
          </detail>


        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn mt-3">Back to Home</a>
    </div>
  </div>
</section>
