---
layout: base.njk
title: Terms
---

<section class="page-section">
  <div >
    <div >
      
      <div >
      {% include "images/terms.svg" %}
      </div>
      <div class="card">
        <div class="card-body">
          <h1 class="font-heading">Terms & Conditions</h1>
          <details>
          <summary >
            By using this website you agree to be kind to all* fellow humans and other animals.
          </summary>
            <small >* Yes, even Piers Morgan.</small>
          </detail>


        </div>
      </div>
      
      <a href="{{ '/' | url }}" class="btn">Back to Home</a>
    </div>
  </div>
</section>
