---
layout: base.njk
title: Sites I like
---

<section class="page-section">
  <div class="card">
    <div class="card-body">
      <h1 class="font-heading">Sites I like</h1>
      <p>This is just a random collection of personal sites of people I think are cool.</p>
      <ul>
        <li><a href="https://danielquinn.org/">Daniel Quinn</a> - code wizard</li>
        <li><a href="https://healthy-office-579727.framer.app/">Dev Patel</a> - UX engineer</li>
        <li><a href="https://blog.gpkb.org/">George Kettleborough</a> - Professional geek</li>
        <li><a href="https://www.paulnasca.com/">Paul Nasca</a> - Rubik's Cube Genius</li>
        <li><a href="https://www.rmorrison.net/">Richard Morrison</a> - Another professional geek</li>
        <li><a href="https://thetudor.substack.com/">Tudor - Philosophy nerd</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="card">
    <div class="card-body">
      <h1 class="font-heading">Software I like</h1>
      <p>Just some of my favourite software</p>
      <ul>
        <li><a href="">Zen Browser</a> - a Firefox fork that stole Arc Browser's UI</li>
        <li><a href="">Figma</a> - an immensly powerful graphic design software (but it is slowly enshitifying, so I am trying to learn PenPot)</li>
        <li><a href="">Penpot</a> - an open-source version of Figma</li>
      </ul>
    </div>
  </div>
</section>
<a href="{{ '/' | url }}" class="btn">Back to Home</a>
